.none {
	display: none;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.items-center {
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-end {
	justify-content: flex-end;
}
