.font1 {
	font-weight: var(--font-weight-1);
	font-size: var(--font-size-1);
	line-height: 48px;
}

.font2 {
	font-weight: var(--font-weight-1);
	font-size: var(--font-size-2);
	line-height: 24px;
}

.font3 {
	font-weight: var(--font-weight-1);
	font-size: var(--font-size-3);
	line-height: 150%;
}

.font4 {
	font-weight: var(--font-weight-2);
	font-size: var(--font-size-4);
	line-height: 150%;
}

.font5 {
	font-weight: var(--font-weight-3);
	font-size: var(--font-size-3);
	line-height: 150%;
}

.font6 {
	font-weight: var(--font-weight-3);
	font-size: var(--font-size-4);
	line-height: 150%;
}
