.card {
	border-radius: 4px;
}

.cardContent {
	height: 100%;
	width: 99%;
	position: relative;
	padding: 13px 18px;
	border-radius: 0px 3px 3px 0px;
}

.cardValues {
	width: 30%;
}

.btnTrash {
	cursor: pointer;
	width: 35px;
	height: 35px;
	opacity: 80%;
	padding: 8px 10px;
	background-color: var(--gray300);
	border-radius: 4px;
}

.btnTrash:hover {
	opacity: 100%;
}

@media (max-width: 900px) {
	.cardValues {
		width: 45%;
		white-space: nowrap;
	}
}
